<div class="jumbotron" style="text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="display-2 text-center">Insurance Claim</h2>
                <hr>
                <form class="form" [formGroup]="claimForm" (ngSubmit)="onSubmit()">
                    <input type="text" placeholder="Policy Number" formControlName="policynumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.policynumber.errors }">
                    <div *ngIf="submitted && f.policynumber.errors" class="invalid-feedback">
                        <div *ngIf="f.policynumber.errors.required">Policy Number is required</div>
                    </div>
                    <br>
                    <input type="text" placeholder="Mobile Number" formControlName="mobilenumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }">
                    <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">
                        <div *ngIf="f.mobilenumber.errors.required">Mobile Number is required</div>
                    </div>
                    <br><br>
                    <label class="display-6">Reason to Claim Insurance</label><br>
                    <div class="dropdown">
                        <select name="reason" id="reason" formControlName="reason"
                            class="form-select form-select-lg mb-3">
                            <option value="natural_disaster">Natural Disaster</option>
                            <option value="man_made_disaster">Man-Made Disaster</option>
                            <option value="road_accident">Road Accident</option>
                            <option value="theft">Theft</option>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Claim</button>
                </form>
                <br>
                <a routerLink="" style="float: right;"><button class="btn btn-success">Back Home</button></a>
            </div>
        </div>
    </div>
</div>