<div>
    <input type="text" placeholder="Policy Number">
    <br>
    <input type="text" placeholder="Mobile Number">
    <br><br>
    <label>Reason to Claim Insurance</label><br>
    <button type="button" id="natural_disaster">Natural Disaster</button><br>
    <button type="button" id="man_made_disaster">Man-Made Disaster</button><br>
    <button type="button" id="road_accident">Road Accident</button><br>
    <button type="button" id="theft">Theft</button><br>
    <button type="submit">Submit</button>
</div>