<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <h2 class="display-2 text-center">FAQ'S</h2>
        <hr>
        <div class="accordion" id="faqExample">
          <div class="card">
            <div class="card-header p-2" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Q: Why do I need Car Insurance?
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqExample">
              <div class="card-body">
                Car insurance policy is mandatory under the Motor Vehicle Act. The policy
                ensures that the car owner is protected from financial losses, caused by damage or theft
                to the vehicle and third party liability.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-2" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse"
                  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Q: What is third-party insurance cover?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
              <div class="card-body">
                It is a type of two and four wheeler insurance policy that covers your legal liability
                in case of any bodily or property damage caused to a third party by your vehicle.
                According to the Motor Vehicles Act, 1988, it is mandatory for every vehicle owner to
                have third-party insurance.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-2" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse"
                  data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Q. What is comprehensive insurance cover?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
              <div class="card-body">
                In addition to third-party liability, a comprehensive insurance plan protects your
                vehicle against risks like theft, vandalism, and fire. It also covers you if your car or
                bike suffers any loss or damage due to natural or man-made disasters such as floods,
                cyclones, earthquakes, riots, and so on.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-2" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse"
                  data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  Q.Under which circumstances can my claim be rejected?
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
              <div class="card-body">
                Your claim can be rejected under the following circumstances:
                If it is proven beyond a reasonable doubt that you were driving recklessly or under the
                influence of alcohol or drugs
                If you have exhausted the policy’s sum assured for a given period
                If your claim is outside the policy inclusions
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-2" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse"
                  data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                  Q.What if someone else is driving my vehicle at the time of the accident?
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
              <div class="card-body">
                Your insurance policy follows the vehicle, not the driver. If your vehicle is being
                driven by someone else with your permission, the insurer will still be liable to pay for
                damages up to the sum assured.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-2" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse"
                  data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                  Q. How long does it take for a claim to be processed?
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
              <div class="card-body">
                Once you have intimated the insurer, you will be provided with a claim number. On
                submitting the required documents, your claim will be processed within a short period of
                time in accordance with the policy’s terms and conditions.
              </div>
            </div>
          </div>
        </div>
        <br>
        <a routerLink="/../contactus" style="float: right">Need More Help?</a><br><br>
        <a routerLink="/../" style="float: right;"><button class="btn btn-success">Back Home</button></a>
      </div>
    </div>
  </div>
</div>