<p>insurance4wheel works!</p>
<form [formGroup]="carForm" (ngSubmit)="carinfo()">
    {{carForm.value | json}}
    <p>
        <input type="text" id="car" name="Car" formControllName="Car">
    </p>
    <div *ngIf="!carget?.valid && (carget?.dirty || carget?.touched)" class="error">
        <div *ngIf="carget!.errors!.required">
            Car Model is required
        </div>
    </div>

    <!-- <p>
        <input type="text" id="bike" name="bike" formControllName="bike">
    </p>
    <div *ngIf="!bikeget?.valid && (bikeget?.dirty || bikeget?.touched)" class="error">
        <div *ngIf="bikeget!.errors!.required">
            Bike Model is required
        </div>
    </div> -->

    <p>
        <input type="text" id="Age" name="Age" formControllName="Age">
    </p>
    <div *ngIf="!Ageget?.valid && (Ageget?.dirty || Ageget?.touched)" class="error">
        <div *ngIf="carget!.errors!.required">
            Age is required
        </div>
    </div>


    <p>
        <input type="submit" [disabled] ="!carForm.valid" />
    </p>
</form>