
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div >

            <h2>ABOUT MOTOR INSURANCE</h2>

            <!--<p>
                

Motor insurance is a vehicle insurance policy that is mandatory for vehicles like trucks, cars, jeeps, bikes, scooters, etc. This policy offers coverage to the vehicle owner/driver against financial losses that may occur due to accidents or other kinds of damages.

Having valid motor insurance is compulsory in India to protect vehicle owners from potential financial risks. It is the best form of security that you can acquire to prevent significant expenses that result after an accident. The Government poses the compulsion for the safety of the individuals who travel via motor vehicles daily.

No one can deny that buying a vehicle is the second most expensive investment in a person’s life after home. Thus, protecting the investment against unforeseen events is crucial. Considering the hike in the vehicle repair charges and the risks involved in driving, an unfortunate accident can put a big hole in your pocket.

The yearly premiums that you pay for the motor insurance policy are meagre as compared to the advantages and protection the coverage will offer you in case of mishaps. Though there are many misconceptions regarding the policy, it will most certainly compensate you against the physical damage that arises under different circumstances.
            </p>-->

          <br>
        <h3>Don't lose your No Claim Bonus (NCB)</h3>
        <p>When you move your insurance policy to xyz, you'll be able to transfer your NCB. It will keep growing just like it was previously (in case of no claim).</p><br>
        <h3>Protection from inflation</h3>
        <p>You will not need to pay any extra premium even if there is an increase in Third party premium during the course of the policy period.</p><br>
        <h3>Get 100% full invoice price add on</h3>	
        <p>The cost of a car keeps going down every day. But we pay you the full price you paid for the car with the 100% Invoice Price Add-on at an additional premium.</p><br>
        <h3>Minimal Documentation Required for Insurance</h3>	
        <p>Just one policy document will be issued for the entire policy period. You don't have to take care of multiple papers.</p><br>
        <h3>Quick claim settlement in 10 days</h3>
        <p>Claim settlements processed within 10 working days.</p>

    </div>
</div>
</div>
</div>
