<div class="jumbotron">
  <div class="container">
    <div class="row">
        <h4 class="display-3 text-center">ABOUT US</h4><hr>
      <div class="col-11 mx-auto" >
        <br>
        <div class="text-justify">
        <p>
          We are a vehicle insurance company. Now, before those words conjure images of beige walls and bleak souls in your head, let us tell you we are vibrant and vivacious, and were founded to break that drab mould you were about to cast us in.
        </p>
        <p>
          We started in 2021 as India’s first digital insurer, and are currently the fastest growing insurance company in the country. In a span of few months we have revved up insurance with technology and given it a snazzy makeover—we’ve taken it online, wiped out much of the paperwork associated with it, created products that are a cut above the ho-hum, and sold them to over 50 million unique customers.
        </p>
        <p>
          All this jazzing up has been brought about by our team that is obsessed with making insurance effortless. This team has grown from a small huddle of 4 when we started, to a clan of more than 400 now. And this eclectic clan—comprising everyone from coders who double up as comics to finance whizzes who slay at karaokes—is responsible for other great feats too.
        </p>
        <p>
          Like winning us incredible partners. In the past few months, we have partnered with some of the best businesses in the digital world. Ola, redBus, Amazon and OYO are some of the popular partners alongside whom we’ve launched innovative products like trip insurance, electronics cover and hotel-stay insurance. These bite-sized product offerings have received much love from our customers and even ushered in awards.
        </p>        
        <p>Our micro-insurance product—Ola Trip Insurance, which insures cab passengers, was awarded the Golden Peacock Innovative Product last year;

        </p>
        <p>
          Financial Express chose us as the winner in their Insurance and Savings category the same year; LinkedIn’s list of Top Startups features us regularly and now as we feel that we’ve bragged enough, let’s move on.
        </p>
        <p>
          We’re a driven team working towards improving every aspect of insurance. Be it pricing, purchase, or claims—we’re amping it up with data and tech. We offer customised prices, instant policy, super-quick claim settlements, and are ceaselessly pushing forward to make insurance as friendly as a smile. Besides our collective passion for customer convenience, we’re propelled by the love and support of our customers and investors. 
        </p>
        <p>
          Now that you know us a little better, explore our website, products and maybe get yourself a new vehicle insurance.
        </p>
      </div>
        <hr>
        <p class="display-6"><b>Don't lose your No Claim Bonus (NCB)</b></p>
        <p>When you move your insurance policy to xyz, you'll be able to transfer your NCB. It will keep growing
          just like it was previously (in case of no claim).</p>
        <hr>
        <p class="display-6"><b>Protection from inflation</b></p>
        <p>You will not need to pay any extra premium even if there is an increase in Third party premium during
          the
          course of the policy period.</p>
        <hr>
        <p class="display-6"><b>Get 100% full invoice price add on</b></p>
        <p>The cost of a car keeps going down every day. But we pay you the full price you paid for the car with
          the
          100% Invoice Price Add-on at an additional premium.</p>
        <hr>
        <p class="display-6"><b>Minimal Documentation Required for Insurance</b></p>
        <p>Just one policy document will be issued for the entire policy period. You don't have to take care of
          multiple papers.</p>
        <hr>
        <p class="display-6"><b>Quick claim settlement in 10 days</b></p>
        <p>Claim settlements processed within 10 working days.</p>
        <a routerLink="/../" style="float: right;"><button class="btn btn-success">Back Home</button></a>
      </div>
    </div>
  </div>
</div>
