<div class="jumbotron" style="text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="display-2 text-center">Policy Details</h2>
                <hr>
                <p>
                    <label class="label label-default">Policy Number:</label>&nbsp;
                    <label >Policy number will be displayed</label>
                </p>
                <p>
                    <label class="label label-default">Vehicle Model:</label>&nbsp;
                    <label >Vehicle Model will be displayed</label>
                </p>
                <p>
                    <label class="label label-default">Registration Number:</label>&nbsp;
                    <label >Registration will be displayed</label>
                </p>
                <p>
                    <label class="label label-default">Claim Amount:</label>&nbsp;
                    <label >Claim Amount will be displayed</label>
                </p>
                <p>
                    <button type="button" class="btn btn-primary">Claim</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary">Renew</button>
                </p>
            </div>
        </div>
    </div>
</div>