<div class="jumbotron" style="text-align: center;">
    <div class="container">
        <div class="row">
            <h2 class="display-2">Policy Details</h2><hr>
            <div class="col-md-7 offset-md-3">
                <table class="table text-left">
                    <thead>
                        <tr>
                            <td><b>Policy Number</b></td>
                            <td>{{policyNoFromRoute}}</td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td>{{model}}</td>
                        </tr>
                        <tr>
                            <td>Registration Number</td>
                            <td>{{registrationNumber}}</td>
                        </tr>
                        <tr>
                            <td>Claim Amount</td>
                            <td>{{premiumprice}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary" routerLink="/../../claim">
                    Claim</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" routerLink="/../../renew">
                    Renew</button>
            </div>
        </div>
    </div>
</div>