<div>
    <p>
        <label>Policy Number: </label>
        <label>Policy number will be displayed</label>
    </p>
    <p>
        <label>Vehicle Model: </label>
        <label>Vehicle Model will be displayed</label>
    </p>
    <p>
        <label>Registration Number: </label>
        <label>REgistration will be displayed</label>
    </p>
    <p>
        <label>Claim Amount: </label>
        <label>Claim Amount will be displayed</label>
    </p>
    <p>
        <button type="button">Claim</button>
        <button type="button">Renew</button> 
    </p>
</div>