<div class="jumbotron" style="text-align: center;" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="display-2">Buy Insurance</h2>
                <hr>
                <h4>Please select any one</h4>

                <div>
                    <button type="button" id="twowheeler" class="btn btn-primary btn-lg"
                        (click)="ShowDiv('2wheeler')">Two Wheeler</button>

                    &nbsp;&nbsp;
                    <button type="button" id="fourwheeler" class="btn btn-primary btn-lg" 
                    (click)="ShowDiv('4wheeler')">
                        Four Wheeler</button>

                </div>



                <br>
                <div>
                    <form class="form" [formGroup]="TwheelerForm">
                        <div *ngIf="currDiv=='2wheeler'" style="text-align: left;">
                            <label for="Manufacturer">Select Bike Manufacturer</label>
                            <select name="bikemodel" id="bikemanufacturer" formControlName="Manufacturer" 
                                class="form-select form-select-lg mb-3">
                                <option value ="" selected>Select your bike manufacturer</option>
                                <option value="Hero Motocorp">Hero Motocorp</option>
                                <option value="Honda Motorcycle and Scooter">Honda Motorcycle and Scooter</option>
                                <option value="TVS Motor">TVS Motor</option>
                                <option value="Bajaj Auto">Bajaj Auto</option>
                                <option value="Yamaha Motor">Yamaha Motor</option>
                                <option value="Royal Enfield">Royal Enfield</option>
                                <option value="suzuki Motorcycle">suzuki Motorcycle</option>
                                <option value="Mahindra Two Wheeler">Mahindra Two Wheeler</option>
                            </select>
                            
                            <div *ngIf="submitted && f.Manufacturer.errors" class="invalid-feedback">
                                <div *ngIf="f.Manufacturer.errors.required">Chassis Number is required
                                </div>
                            </div><br />

                            <label for="Model">Enter Bike Model</label>
                            <input type="text" formControlName="Model" id="Model"
                                placeholder="Enter Bike Model" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.Manufacturer.errors }" />
                            
                            <div *ngIf="submitted && f.Model.errors" class="invalid-feedback">
                                <div *ngIf="f.Model.errors.required">Bike Modelis required

                                </div>

                            </div><br>


                            <div>
                                <label for="ChassisNo">Enter Chassis Number</label>
                                <input type="text" formControlName="ChassisNo" id="ChassisNo"
                                    placeholder="Enter Chassis Number" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.ChassisNo.errors }" />
                                <div *ngIf="submitted && f.ChassisNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.ChassisNo.errors.required">Chassis Number is required</div>
                                </div><br />
                            </div>



                            <label for="RegistrationNo">Enter Registration Number</label>
                            <input type="text" formControlName="RegistrationNo" placeholder="Enter Registration Number"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.RegistrationNo.errors }" />
                            <div *ngIf="submitted && f.RegistrationNo.errors" class="invalid-feedback">
                                <div *ngIf="f.RegistrationNo.errors.required">Registration Number is required</div>
                            </div><br />


                            <label for="EngineNo">Enter Engine Number</label>
                            <input type="text" formControlName="EngineNo" placeholder="Enter Engine Number"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.EngineNo.errors }" />
                            <div *ngIf="submitted && f.EngineNo.errors" class="invalid-feedback">
                                <div *ngIf="f.EngineNo.errors.required">Engine Number is required</div>
                            </div><br>

                            <label for="DrivingLicense">Enter Driving License</label>
                            <input type="text" formControlName="DrivingLicense" placeholder="Enter Driving Licence"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.DrivingLicense.errors }" />
                            <div *ngIf="submitted && f.DrivingLicense.errors" class="invalid-feedback">
                                <div *ngIf="f.DrivingLicense.errors.required">Driving License is required</div>
                            </div><br>

                            <label for="PurchaseDate">Enter Purchase Date</label>
                            <input type="date" formControlName="PurchaseDate" placeholder="Enter Purchase Date"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PurchaseDate.errors }" />
                            <div *ngIf="submitted && f.PurchaseDate.errors" class="invalid-feedback">
                                <div *ngIf="f.PurchaseDate.errors.required">Purchase Date is required</div>
                            </div>
                            <br>
                        </div>

                    </form>
                    

                    <form class="form" [formGroup]="FwheelerForm">

                        <div *ngIf="currDiv=='4wheeler'" style="text-align: left;">
                            <label for="Manufacturer">Select Car Manufacturer</label>
                            <select name="carmodel" id="carmodel" formControlName="Manufacturer"
                                class="form-select form-select-lg mb-3">
                                <option value ="" selected>Select your car manufacturer</option>
                                <option value="Ford">Ford</option>
                                <option value="hyundai">Hyundai</option>
                                <option value="honda">Honda</option>
                                <option value="Mahindra & Mahindra">Mahindra & Mahindra</option>
                                <option value="Maruti Suzuki">Maruti Suzuki</option>
                                <option value="Nissan">Nissan</option>
                                <option value="Renault">Renault</option>
                                <option value="Tata Motors">Tata Motors</option>
                                <option value="Toyota">Toyota</option>
                                <option value="Volkswagen">Volkswagen</option>
                            </select>
                            <div *ngIf="submitted && ff.Manufacturer.errors" class="invalid-feedback">
                                <div *ngIf="ff.Manufacturer.errors.required">Car Manufacturer is required</div>
                            </div><br />

                            <label for="Model">Enter Car Model</label>
                            <input type="text" formControlName="Model" placeholder="Enter Car Model"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && ff.Model.errors }" />
                            <div *ngIf="submitted && ff.Model.errors" class="invalid-feedback">
                                <div *ngIf="ff.Model.errors.required">Car Model is required</div>
                            </div><br />

                            <div>
                                <label for="ChassisNo">Enter Chassis Number</label>
                                <input type="text" formControlName="ChassisNo" id="ChassisNo"
                                    placeholder="Enter Chassis Number" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && ff.ChassisNo.errors }" />
                                <div *ngIf="submitted && ff.ChassisNo.errors" class="invalid-feedback">
                                    <div *ngIf="ff.ChassisNo.errors.required">Chassis Number is required</div>
                                </div><br />
                            </div>


                            <label for="RegistrationNo">Enter Registration Number</label>
                            <input type="text" formControlName="RegistrationNo" placeholder="Enter Registration Number"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && ff.RegistrationNo.errors }" />
                            <div *ngIf="submitted && ff.RegistrationNo.errors" class="invalid-feedback">
                                <div *ngIf="ff.RegistrationNo.errors.required">Registration Number is required</div>
                            </div><br />


                            <label for="EngineNo">Enter Engine Number</label>
                            <input type="text" formControlName="EngineNo" placeholder="Enter Engine Number"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && ff.EngineNo.errors }" />
                            <div *ngIf="submitted && ff.EngineNo.errors" class="invalid-feedback">
                                <div *ngIf="ff.EngineNo.errors.required">Engine Number is required</div>
                            </div><br>

                            <label for="DrivingLicense">Enter Driving License</label>
                            <input type="text" formControlName="DrivingLicense" placeholder="Enter Driving Licence"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && ff.DrivingLicense.errors }" />
                            <div *ngIf="submitted && ff.DrivingLicense.errors" class="invalid-feedback">
                                <div *ngIf="ff.DrivingLicense.errors.required">Driving License is required</div>
                            </div><br>

                            <label for="PurchaseDate">Enter Purchase Date</label>
                            <input type="text" formControlName="PurchaseDate" placeholder="Enter Purchase Date"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && ff.PurchaseDate.errors }" />
                            <div *ngIf="submitted && ff.PurchaseDate.errors" class="invalid-feedback">
                                <div *ngIf="ff.PurchaseDate.errors.required">Purchase Date is required</div>
                            </div>
                            <br>
                        </div>
                    </form>
                    <div *ngIf="currDiv=='4wheeler'||currDiv=='2wheeler'">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"
                                [disabled]="!(this.FwheelerForm.valid || this.TwheelerForm.valid)"
                                (click)="onSubmit()">Submit</button>
                            <br><br>
                        </div>
                    </div>
                </div>
                <a style="float: right;" routerLink=""><button class="btn btn-success">Back Home</button></a><br>
            </div>
        </div>
    </div>
</div>