<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <footer style="bottom: 10px; position: fixed;padding: 10px 10px 0px 10px;

width: 100%;
/* Height of the footer*/ 
height: 60px;
background:rgb(228, 222, 222); text-align: center;">
  <div class="footer-icons">
    <a href="#">Facebook<i class="fa fa-facebook"></i></a>|
    <a href="#">Twitter<i class="fa fa-twitter"></i></a>|
    <a href="#">LinkedIn<i class="fa fa-linkedin"></i></a>|
    <a href="#">Github<i class="fa fa-github"></i></a>
  </div>
  <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by</p>
  <p class="footer-company-name">LTI © 2021</p>
</footer> -->

<footer class="blog-footer" >

  <div class="col-12 col-md text-center">

    <a href="#">Facebook<i class="fa fa-facebook"></i></a>|
    <a href="#">Twitter<i class="fa fa-twitter"></i></a>|
    <a href="#">LinkedIn<i class="fa fa-linkedin"></i></a>|
    <a href="#">Github<i class="fa fa-github"></i></a>
    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by</p>
    <small class="d-block mb-3 text-muted">LTI © 2021</small>

  </div>
</footer>