
<app-menu></app-menu>
<router-outlet></router-outlet>

<footer style="bottom: 0px; position: relative; text-align: center; width: 100%;">
  <div class="footer-icons">
    <a href="#">Facebook<i class="fa fa-facebook"></i></a>|
    <a href="#">Twitter<i class="fa fa-twitter"></i></a>|
    <a href="#">LinkedIn<i class="fa fa-linkedin"></i></a>|
    <a href="#">Github<i class="fa fa-github"></i></a>
  </div>
  <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by</p>
  <p class="footer-company-name">LTI © 2021</p>
</footer> 