

<table class="table">
    <thead>
      <tr>
        <th scope="col">Claim Request Id</th>
        <th scope="col">Claim Request Created Date</th>
        <th scope="col">Policy Number</th>
        <th scope="col">Reason</th>
        <th scope="col">Claim Status</th>
        <th scope="col">Claim Amount</th>
      </tr>

    </thead>
    <tbody>
        <tr  *ngFor="let i of claimrequesttabledata">    
        <td>{{i.claimRequestId}}</td>
        <td>{{i.requestCreatedDate | date :'dd/MM/yyyy'}}</td>
        <td>{{i.policyNo}}</td>
        <td>{{i.reason}}</td>
        <td>{{i.claimStatus}}</td>
        <td><input type="number" id="amount" [defaultValue]=(i.claimAmount)></td>
        <td><input type="button" class="btn btn-success" id="approve" value="Approve" (click)="buttonclick(i.claimRequestId ,'Approved', i.claimAmount)" /></td>
        <td><input type="button" class="btn btn-danger" id="disapprove" value="Disapprove" (click)="buttonclick(i.claimRequestId,'Disapproved', i.claimAmount)"  /></td>

      </tr>
  
    </tbody>
  </table>