

<table class="table">
    <thead>
      <tr>
        <th scope="col">Claim Request Id</th>
        <th scope="col">Claim Request Created Date</th>
        <th scope="col">Policy Number</th>
        <th scope="col">Reason</th>
        <th scope="col">Claim Status</th>
        <th scope="col">Claim Amount</th>
      </tr>

    </thead>
    <tbody>
        <tr  *ngFor="let i of claimrequesttabledata">
        <!-- <th scope="row">1</th> -->
        <td>{{i.claimRequestId}}</td>
        <td>{{i.requestCreatedDate}}</td>
        <td>{{i.policyNo}}</td>
        <td>{{i.reason}}</td>
        <td>{{i.claimStatus}}</td>
        <td>1000</td>
        <td><input type="button" class="btn btn-success" id="approve" value="Approve"   (click)="approve(i.claimRequestId ,'Approved')" /></td>
        <td><input type="button" class="btn btn-danger" id="disapprove" value="Disapprove" (click)="approve(i.claimRequestId,'Disapproved' )"  /></td>
      
      </tr>
  
    </tbody>
  </table>