
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <nav class="navbar navbar-light">
          <img src="../../assets/test_pic1.jpg" width="80px" height="50px">
          <h3 style="text-align: center; color: white;">LTI Insurance</h3>
      </nav>
    </div>
  </nav>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav nav-pills">
          <li><a routerLink="login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>