.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
  body {
    background: rgba(132, 155, 219, 0.5);
    font-family: Arial, Helvetica, sans-serif
}

.container {
    background: #fff;
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 945px
}

img {
    padding-top: 110px;
    padding-left: 50px;
    width: 85%;
    height: 80%
}

.text-muted {
    font-size: 13px;
    font-weight: bold
}

.form-title {
    font-weight: bold
}

.form-group label {
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
    color: #828282
}

.form-control {
    border: none;
    border-radius: 20px;
    background: rgba(165, 147, 69, 0.075);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2)
}

.btn {
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    background-color: rgba(56, 147, 243, 0.67);
    text-align: center;
    border-radius: 5px
}

.form-control:focus {
    color: #495057;
    border-color: #fff !important;
    outline: 0;
    box-shadow: 0 1px 1px 1px rgba(0, 123, 255, .25) !important
}