<div class="container" >
  <div class="">
    <div class="col-sm-8">
      <h2>Welcome {{username}}</h2>
      <img src="../../assets/8.PNG" width="80%" height="80%" style="padding-top: 10px;">
    </div>
    <div class="col-sm-3">
      <table>
        <br>
        <br>
        <br>
        <br>
        <tr>
          <td><button type="button" class="btn btn-secondary btn-lg" style="width: 300px;" (click)="Buy()">
            Buy Insurance</button></td>
        </tr><br>
        <tr>
          <td><button type="button" class="btn btn-secondary btn-lg" style="width: 300px;" (click)="Renew()">
            Renew Insurance</button></td>
        </tr><br>
        <tr>
          <td><button type="button" class="btn btn-secondary btn-lg" style="width: 300px;" (click)="Claim()">
            Claim Insurance</button></td>
        </tr><br>
        <tr>
          <td><button type="button" class="btn btn-secondary btn-lg" style="width: 300px;"
              routerLink="./estimate">Estimate Insurance Calculation</button></td>
        </tr><br>
      </table>
      <!-- <hr class="d-sm-none"> -->
    </div> 
  </div>
</div>
<div class="container">
<div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
  <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    <div class="productform aem-GridColumn aem-GridColumn--default--12">
      <div class="main-container pb-5" id="productform">
      </div>
    </div>
    <div class="navigation-tab-component aem-GridColumn aem-GridColumn--default--12">
      <!-- ========== Green Navigation Bar ========== -->
      <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
        <div class="card-grid aem-GridColumn aem-GridColumn--default--12">
          <!-- What is Car Insurance? -->
          <section class="why_buy comp-2 mt-0 mt-md-4 pt-0 pt-md-5" style="background-color:#f2f2f2;">

            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="text-center ">
                  <h2 class="sub-title mt-3">What is Insurance?</h2>
                  <div class="row justify-content-center mlr-0">
                    <p class="lead text-center"></p>
                    <p>Car insurance offers protection against accidents, theft, natural calamities other
                      unforeseen circumstance that could harm your vehicle. Having a good motor insurance policy ensures
                      that you and your car are protected from the financial losses of these unfortunate events.
                    </p>
                    <p>As per the Motor Vehicle Act of 1988, it is also compulsory to have vehicle insurance to drive
                      your car on Indian roads. You can purchase our basic third party insurance policy to comply with
                      this mandate. Or, you could opt for the added protection of our comprehensive car insurance policy
                      and enjoy complete peace of mind on every drive. We also offer standalone own damage insurance
                      that can be bundled with a third party insurance policy to provide all-round cover against the
                      perils of the road.</p>
                    <p>You can also choose from several add-on covers such as Depreciative waiver or zero depreciation
                      insurance, return to invoice cover, etc. and customize your plan to your exact requirements. You
                      can set the IDV and voluntary deductible of your plan to suit your needs and tailor the coverage
                      to fit your budget perfectly. With IFFCO-Tokio, you get auto insurance that is light on your
                      wallet and provides all-round cover for your vehicle.</p>
                    <p></p>
                  </div>
                </div>
              </div>

            </div>
          </section>
        </div>

      <div class="featurecards2 aem-GridColumn aem-GridColumn--default--12">

        <section class="why_buy comp-2 mt-0 mt-md-4 pt-0 pt-md-5 bg-gray">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div id="featurecards2" class="col-12 section-header  mb-0 mb-md-5 pb-5">
        <div class="lp-key-benefit aem-GridColumn aem-GridColumn--default--12">
          <section> 
           <div class="key-benefit"> 
            <div class="container key-benefit-wrapper"> 
             <div class="key-benefit-heading"> 
              <h2 class="sub-title mt-3 text-center">Key Benefits</h2>
              <br>
             </div> 
             <div class="row justify-content-center"> 
              <div class="col-md-2 key-bne-icon"> 
               <img src="../../assets/key-benefit-ic1.svg" class="lozad align-items-center"  alt="" srcset="" data-loaded="true"> 
               <h3 class="key-heading">Quick claim settlement</h3> 
               <p class="key-text">Within 4hours**</p> 
              </div> 
              <div class="col-md-2 key-bne-icon"> 
               <img src="../../assets/key-benefit-ic2.svg" class="lozad justify-content-center"  alt="" srcset="" data-loaded="true"> 
               <h3 class="key-heading">Depreciation waiver</h3> 
               <p class="key-text">cover***</p> 
              </div> 
              <div class="col-md-2 key-bne-icon"> 
               <img src="../../assets/key-benefit-ic3.svg" class="lozad"  alt="" srcset="" data-loaded="true"> 
               <h3 class="key-heading">Roadside</h3> 
               <p class="key-text">assistance****</p> 
              </div> 
              <div class="col-md-2 key-bne-icon"> 
               <img src="../../assets/key-benefit-ic4.svg" class="lozad"  alt="" srcset="" data-loaded="true"> 
               <h3 class="key-heading">4300+ garages</h3> 
               <p class="key-text">offering cashless service</p> 
              </div> 
              <div class="col-md-2 key-bne-icon"> 
               <img src="../../assets/key-benefit-ic5.svg" class="lozad "  alt="" srcset="" data-loaded="true"> 
               <h3 class="key-heading">24/7 claim assistance</h3> 
               <p class="key-text">Customer service</p> 
              </div> 
             </div> 
            </div> 
           </div> 
          </section>
         </div>
         </div>
         </div>
         </div>
         </section>
         </div>

        <!-- How we are Different? -->
        <div class="featurecards2 aem-GridColumn aem-GridColumn--default--12 " style="background-color:#f2f2f2">

          <section class="why_buy comp-2 mt-0 mt-md-4 pt-0 pt-md-5 bg-gray">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div id="featurecards2" class="col-12 section-header  mb-0 mb-md-5 pb-5">
                  <h2 class="sub-title mt-3 text-center">How we are Different?</h2>
                  <p>Until recently, innovation and insurance were rarely used in the same sentence. However, we have
                    made it our mission to change this. we are bringing in technology to provide you with car insurance
                    that’s quicker and more convenient.</p>
                  <p><b>Suggestions: - Instant policy issuance through mobile app- Digital innovation</b></p>
                  <p>One of the ways we’re doing this is through our mobile app, which puts a host of services at your
                    fingertips. Now, your policy can be issued instantly through smart phones of our distribution
                    channels.&nbsp; You can also submit a claim with and get compensation up to Rs. 50,000 in minutes,
                    all with just a few taps &amp; clicks!</p>
                  <p>With close to 20 years of experience in the insurance industry, we have settled more than 8 lakhs
                    claims (in FY19) with a settlement ratio of 92.65%. This is just one of the reasons why
                    <b>1,00,000+</b> individuals entrust us with their car insurance needs.&nbsp;</p>
                </div>
              </div>

              <div class="how-iffco-carousel row owl-carousel off carousel ">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="content-wrap ">
                    <div class="content  br-none ci_card_content h-100">
                      <div class="head_wrap">
                        <img class="icon tick-icon lozad" data-src="../../assets/tick.svg"
                          alt="tick icon" src="../../assets/tick.svg"> <span
                          class="card_head_text"> 4300+ Network Garages</span>
                      </div>
                      <div class="title">
                        <div>
                          <p>We provide cashless services in more than 4300 garages, which are evenly spread across the
                            country.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="content-wrap ">
                    <div class="content  br-none ci_card_content h-100">
                      <div class="head_wrap">
                        <img class="icon tick-icon lozad" data-src="../../assets/tick.svg"
                          alt="tick icon" src="../../assets/tick.svg"> <span
                          class="card_head_text"> Quick Claim Settlement</span>
                      </div>
                      <div class="title">
                        <div>
                          <p>We offer a QCS facility under which motor insurance claims get settled seamlessly within
                            minutes.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="content-wrap ">
                    <div class="content  br-none ci_card_content h-100">
                      <div class="head_wrap">
                        <img class="icon tick-icon lozad" data-src="../../assets/tick.svg"
                          alt="tick icon" src="../../assets/tick.svg"> <span
                          class="card_head_text"> Trusted Brand</span>
                      </div>
                      <div class="title">
                        <div>
                          <p>For almost 20 years, we have been servicing our customers with a wide range of insurance
                            policies.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="content-wrap ">
                    <div class="content  br-none ci_card_content h-100">
                      <div class="head_wrap">
                        <img class="icon tick-icon lozad" data-src="../../assets/tick.svg"
                          alt="tick icon" src="../../assets/tick.svg"> <span
                          class="card_head_text"> Claims experience</span>
                      </div>
                      <div class="title">
                        <div>
                          <p>We settled a total of 8.61 lakh claims in FY2019 and have a claim settlement ratio
                            of&nbsp;96.80%</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="content-wrap ">
                    <div class="content  br-none ci_card_content h-100">
                      <div class="head_wrap">
                        <img class="icon tick-icon lozad" data-src="../../assets/tick.svg"
                          alt="tick icon" src="../../assets/tick.svg"> <span
                          class="card_head_text"> Awarding winning protection</span>
                      </div>
                      <div class="title">
                        <div>
                          <p>we Won a Award for India for AI-based claim assessment of damaged vehicles.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="content-wrap ">
                    <div class="content  br-none ci_card_content h-100">
                      <div class="head_wrap">
                        <img class="icon tick-icon lozad" data-src="../../assets/tick.svg"
                          alt="tick icon" src="../../assets/tick.svg"> <span
                          class="card_head_text"> Wide network of branches</span>
                      </div>
                      <div class="title">
                        <div>
                          <p>Our policies can be brought from more than 20,000 agents and branches having a wide
                            presence throughout the country.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--  -->
        </div>
<br>
        <div class="cardandRTE aem-GridColumn aem-GridColumn--default--12">
          <section class="why_buy insurance-type comp-4 mt-0 mt-md-4 pt-0 py-5 bg-gray">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-12 section-header mb-5">
                  <h2 class="sub-title mt-3 text-center">Types of car insurance we provide</h2>
                </div>
                <div class="col-12 pl-5 pr-5">
                
                </div>
                <div id="cardandRTE-carousel" class="cardandRTE-carousel row owl-carousel off carousel">
                  <div class="col-md-12 mb-4 col-sm-4">
                    <div class=" card card-br ">
                      <div class="card-body ">
                        <div class="card-title ">
                          <div class="progress " data-value="33"> <span class="progress-left "> <span
                                class="progress-bar border-primary "></span> </span> <span class="progress-right ">
                              <span class="progress-bar border-primary "></span> </span>
                            <div
                              class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center ">
                              <div class="h2 font-weight-bold ">
                              </div>
                            </div>
                          </div>
                          <h5>Third-party insurance</h5>
                        </div>
                        <p>These plans provide basic coverage and are required by law to drive your car in India. They
                          do not offer cover for own-damage. Third-party insurance only covers damages &amp; losses
                          caused to a third-party person in an accident you are involved in.</p>
                        <p>These plans also provide <b>personal accident cover</b>that pays up to 15 lakh to the
                          policyholder or his/her family member in case of serious injuries or death arising from an
                          accident. Lastly, you cannot purchase add-ons if you choose third party insurance.&nbsp;</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-4 col-sm-4">
                    <div class=" card card-br ">
                      <div class="card-body ">
                        <div class="card-title ">
                          <div class="progress " data-value="92.66"> <span class="progress-left "> <span
                                class="progress-bar border-primary "></span> </span> <span class="progress-right ">
                              <span class="progress-bar border-primary "></span> </span>
                            <div
                              class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center ">
                              <div class="h2 font-weight-bold ">

                              </div>
                            </div>
                          </div>
                          <h5>Comprehensive Insurance</h5>
                        </div>
                        <p>Comprehensive plans have two components – <b>third party cover</b>and own-damage cover. This
                          means besides third party protection, they also provide coverage against damages and total
                          loss of your vehicle due to collisions, theft, acts of nature and man-made calamities.
                          Comprehensive insurance also allows you to purchase add-ons to widen the coverage of your
                          policy.</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="table-responsive-car ">
                <table class="table table-borderless car-insurance-table">
                  <thead>
                    <tr>
                      <th scope="col">&nbsp;</th>
                      <th scope="col">Third party<br> Insurance</th>
                      <th scope="col">Comprehensive<br> Insurance</th>
                
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Damages to Third-Party Vehicle</th>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="../../assets/check-icon.svg" alt="included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td> 
                    </tr>
                    <tr>
                      <th scope="row">Damages to Third-Party Property</th>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      
                    </tr>
                    <tr>
                      <th scope="row">Personal Accident Cover</th>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      
                    </tr>
                    <tr>
                      <th scope="row">Injuries/Death of a Third-Party Person</th>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      
                    </tr>
                    <tr>
                      <th scope="row">Damages/Losses to own car in case of a natural calamity</th>
                      <td><img class="lozad" width="26" height="26"
                           
                          src="./../assets/check-icon.svg" alt="not included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      
                    </tr>
                    <tr>
                      <th scope="row">Damages/Losses to own car in case of fire</th>
                      <td><img class="lozad" width="26" height="26"
                           
                          src="./../assets/check-icon.svg" alt="not included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                     
                    </tr>
                    <tr>
                      <th scope="row">Damages/Losses to own car due to an accident</th>
                      <td><img class="lozad" width="26" height="26"
                           
                          src="../../assets/uncheck-icon.svg" alt="not included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      
                    </tr>
                    <tr>
                      <th scope="row">Theft of your car</th>
                      <td><img class="lozad" width="26" height="26"
                           
                          src="../../assets/uncheck-icon.svg" alt="not included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      
                    </tr>
                    <tr>
                      <th scope="row">Doorstep Pick-Up &amp; Drop</th>
                      <td><img class="lozad" width="26" height="26"
                           
                          src="../../assets/uncheck-icon.svg" alt="not included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      
                    </tr>
                    <tr>
                      <th scope="row">Customize your IDV</th>
                      <td><img class="lozad" width="26" height="26"
                           
                          src="../../assets/uncheck-icon.svg" alt="not included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                     
                    </tr>
                    <tr>
                      <th scope="row">Extra protection with customized add-ons</th>
                      <td><img class="lozad" width="26" height="26"
                           
                          src="../../assets/uncheck-icon.svg" alt="not included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                          data-src="../../assets/tick.svg"
                          src="./../assets/check-icon.svg" alt="included icon"></td>
                      
                    </tr>
                    <tr>
                      <th scope="row">Coverage against depreciation</th>
                      <td><img class="lozad" width="26" height="26"
                           
                          src="../../assets/uncheck-icon.svg" alt="not included icon"></td>
                      <td><img class="lozad" width="26" height="26"
                           
                          src="../../assets/uncheck-icon.svg" alt="not included icon"></td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>

        <section class="desclaimer" style=" background-color:#f2f2f2;"> 
          <div class="container desclaimer-wrapper"> 
           <h2 class="sub-title mt-3">Disclaimer</h2> 
           <p sub-title mt-3 justify-content-center>*Above mention discounts has been computed on the basis of the rates prescribed under erstwhile Indian Motor Tariff on OD premium and are only for indicative purpose.<br> ** Terms and conditions apply. For more information on Quick Claim Settlement<br>*** Depreciation Waiver Cover is an add-on cover with additional premium payment.<br> **** Road Side Assistance is an add-on cover given exclusively for online policy purchase. <br> </p> 
 
           <h2 class="sub-title mt-3">Privacy Policy</h2> 
           <p class="sub-title mt-3 justify-content-center">Your personal information (Vehicle Type, Registration State, Registration City, Registration Date, Manufacturer, Model, Variant, Mobile No., Email Id) submitted will not be sold, or rented to others. We use this information to send updates about our company and products and contact you if requested or find it necessary. We take privacy seriously and may opt out of receiving our communication by clicking on the unsubscribed link mention in mail. Filling this form confirms that you agree to receive a sales or service call from our employees/telecallers based on information you have submitted here.</p> 
          </div> 
         </section>
         <br>
      </div>

    </div>
  </div>



</div>
</div>
