<p>home-page works!</p>
<div class="container">
  <div class="row">
    <div class="col-sm-8"><br><br>
      <div class="d-grid gap-2 col-6 mx-auto">
      <table style="margin:10px 0px 0px 550px;" >
        <tr>
          <td><button type="button" class="btn btn-secondary btn-lg" routerLink="./buy">Buy Insurance</button></td>
        </tr><br>
        <tr>
          <td><button type="button" class="btn btn-secondary btn-lg" routerLink="./renew">Renew Insurance</button></td>


        </tr><br>
        <tr>
          <td><button type="button" class="btn btn-secondary btn-lg" routerLink="./claim">Claim Insurance</button></td>


        </tr><br>
        <tr>
          <td><button type="button" class="btn btn-secondary btn-lg" class="btn btn-primary" routerLink="./estimate">Estimate Insurance Calculation</button></td>

        </tr><br>
      </table>
      </div>

    </div>
  </div>
</div>