<p>policytype works!</p>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="display-3" style="text-align: center;" >Insurance Policy Plans</h2>
                <hr>
                
                <label>Choose your Plan</label><br>
                <select name ="plantype" id="plantype" class="form-select form-select-lg mb-3">
                    <option value="third_party_liability">Third Party Liability</option>
                    <option value="comprehensive">Comprehensive</option>
                </select>
<br>
                <label>Choose your Duration</label><br>
                <select name ="planduration" id="planduration" class="form-select form-select-lg mb-3">
                    <option value="one_year">One Year</option>
                    <option value="two_year">Two Year</option>
                    <option value="three_year">Three Year</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="text-center">
                    <button class="btn btn-primary mr-1">Make Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>